* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    align-items: center;
    gap: 32px;
}

.basic-infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.img-container {
    max-width: 240px;
    padding: 8px;
    border-radius: 8px;
}

.img-container img {
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 50%;
    width: 95%;
}

.type {
    background-color: rgba(255, 255, 255, 0.753);
    max-width: 120px;
    width: 95%;
    border-radius: 8px;
    padding: 2%;
}